<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>JoDice</title>
    <meta charset="utf-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/assets/images/fav.png" type="image/gif" sizes="64x64">

    <!-- CSS
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link href="/assets/css/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link href="/assets/css/select2.min.css" rel="stylesheet"/>
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/color-1.css">
    <!--提醒的样式-->
    <link href="/assets/css/light-theme.min.css" rel="stylesheet">
    <link href="/assets/css/dark-theme.min.css" rel="stylesheet">
    <link href="/assets/css/colored-theme.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/assets/css/custom.form.css">
</head>
<body>

<!-- Header 01
================================================== -->
<header class="header_01 header_inner">
    <div class="header_main">
        <div class="header_menu fixed-top" th:include="/header.html"></div>
        <div class="header_btm">
            <h2>管理</h2>
        </div>
    </div>
</header>


<!-- Main
================================================== -->
<main>
    <div class="job_container">
        <div class="container">
            <div class="row job_main">
                <div class="sidebar">
                    <h5>后台管理系统</h5>
                    <ul class="user_navigation">
                        <li >
                            <a href="/admin/board"><i class="fas fa-border-all"></i>主版</a>
                        </li>
                        <li class="is-active">
                            <a href="/admin/job"><i class="fas fa-star"></i>职位</a>
                        </li>
                        <li>
                            <a href="/admin/order"><i class="fas fa-list-alt"></i>订单</a>
                        </li>
                        <li>
                            <a href="/admin/user"><i class="fas fa-user"></i>用户</a>
                        </li>
                    </ul>
                </div>
                <div class="job_main_right">
                    <!--职位管理-->
                    <div class="row job_section">
                        <div class="col-sm-12">
                            <div class="job_table_div">
                                <div id="searchParam" >
                                    <div class="layui-form-item">
                                        <div class="layui-input-inline">
                                            <input type="text" id="title" class="layui-input" autocomplete="off" placeholder="请输入职位名称">
                                        </div>
                                        <div class="layui-input-inline">
                                            <input type="text" id="employerId" class="layui-input" autocomplete="off" placeholder="请输入雇主ID">
                                        </div>
                                        <div class="layui-input-inline layui-form">
                                            <select id="check">
                                                <option value="">请选择审核状态</option>
                                                <option value="0">未审核</option>
                                                <option value="1">已审核</option>
                                            </select>
                                        </div>
                                        <div class="layui-input-inline ">
                                            <button type="button" class="layui-btn" onclick="search()" id="search">查询</button>
                                        </div>
                                    </div>
                                </div>
                                <table class="layui-hide" id="job_table" lay-filter="job_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- Footer Container
================================================== -->
<footer id="colophon" class="site-footer custom_footer" th:include="/footer.html"/>


<!-- Scripts
================================================== -->
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script src="/assets/js/select2.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/custom.js"></script>
<script src="/assets/js/aos.js"></script>
<!--提醒有关的js-->
<script src="/assets/js/growl-notification.min.js"></script>

<script src="/layui/layui.js"></script>
<script src="/assets/js/core.util.js"></script>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="batchCheck" >审核</button>
        <button class="layui-btn layui-btn-sm" lay-event="batchDeleted" >删除</button>
    </div>
</script>

<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-xs" lay-event="check" >审核</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" >删除</a>
</script>

<script>
    var tableIns1;
    var table = layui.table;
    var $ = jQuery = layui.jquery;
    var layer = layui.layer;
    var form = layui.form;
    var startTime = null;
    var endTime = null;

    layui.use(['table','layer'], function(){

        tableIns1 = table.render({
            elem: '#job_table'
            , height: 312
            , url: '/admin/joblist' //数据接口
            , limit: 5
            , limits: [5, 10, 15]
            , page: true //开启分页
            , method: 'POST'
            , totalRow: true
            , parseData:function(res){
                return {
                    code:res.msg=='success'?0:1,
                    msg:res.msg,
                    count:res.count, //总页数，用于分页
                    data:res.data
                }
            }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'id', title: 'id', width: 120},
                    {field: 'employer_id', title: '雇主id', width: 120},
                    {field: 'title', title: '职位', width: 120},
                    {field: 'budget', title: '预算', width: 120,sort:true},
                    {field: 'expertize_level', title: '技能等级', width: 120},
                    {field: 'create_time', title: '创建时间', width: 120, sort:true},
                    {field: 'required', title: '所需人数', width: 120},
                    {field: 'skill', title: '所需技术', width: 120},
                    {field: 'work_time',title:'工作时间',width:120},
                    {
                        field: 'check', title: '审核状态', width: 120, templet: function (item) {
                            if (item.check === true) {
                                return '  <input type="checkbox" lay-skin="switch" lay-text="已审核|未审核" checked disabled>';
                            }
                            if (item.check === false) {
                                return '  <input type="checkbox" lay-skin="switch" lay-text="已审核|未审核" disabled>';
                            }
                        }
                    },
                    {
                        field: 'job_status', title: '状态', width: 100, templet: function (item) {
                            if (item.job_status === true) {
                                return '  <input type="checkbox" lay-skin="switch" lay-text="开启|关闭" checked disabled>';
                            }
                            if (item.job_status === false) {
                                return '  <input type="checkbox" lay-skin="switch" lay-text="开启|关闭" disabled>';
                            }
                        }
                    },
                    {width: 300, toolbar: "#tool", title: '操作'}
                ]
            ]
            , toolbar: '#toolbar'
        });

        table.on('toolbar(job_table)', function (obj) {
            switch (obj.event) {
                case 'batchDeleted':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("请选择要批量删除的职位");
                    } else {
                        var jobIds = [];
                        $(data).each(function (index, item) {
                            jobIds.push(item.id);
                        });
                        deleteJob(jobIds, "选中的");
                    }
                    break;
                case 'batchCheck':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("请选择要批量审核的职位");
                    } else {
                        var jobIds = [];
                        $(data).each(function (index, item) {
                            jobIds.push(item.id);
                        });
                        checkJob(jobIds, "选中的");
                    }
                    break;
            }
            ;
        });

        table.on('tool(job_table)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'del':
                    var jobIds = [];
                    jobIds.push(data.id);
                    deleteJob(jobIds, data.title);
                    break;
                case 'check':
                    var jobIds = [];
                    jobIds.push(data.id);
                    checkJob(jobIds,data.title);
                    break;
            }
        });

        var checkJob = function (jobIds, title) {
            layer.open({
                content: '确定要审核' + title + "职位么?",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendPut("/admin/jobs/check", jobIds, function (res) {
                        layer.msg(res.msg);
                        tableIns1.reload();
                    });
                }
            });
        };

        var deleteJob = function (jobIds, title) {
            layer.open({
                content: '确定要删除' + title + "职位么?",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendDelete("/admin/jobs", jobIds, function (res) {
                        layer.msg(res.msg);
                        tableIns1.reload();
                    });
                }
            });
        };
    });

    function search(){
        //得到搜索框里已输入的数据
        var title = $('#title').val();
        var employer_id = $('#employerId').val();
        var check = $('#check').val();
        if(employer_id===""||employer_id===null){
            employer_id=0;
        }
        if(check===""||check===null){
            check=3;
        }
        //执行重载
        tableIns1.reload({
            url:'/admin/searchJob'
            ,method:'POST'
            ,page: {
                curr: 1 //重新从第 1 页开始
            }
            ,where: {
                employer_id: employer_id,
                title:  title,
                check: check
            }
        });
    };

</script>
</body>
</html>
