<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>JoDice</title>
    <meta charset="utf-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/assets/images/fav.png" type="image/gif" sizes="64x64">

    <!-- CSS
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link href="/assets/css/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link href="/assets/css/select2.min.css" rel="stylesheet"/>
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/color-1.css">
    <!--提醒的样式-->
    <link href="/assets/css/light-theme.min.css" rel="stylesheet">
    <link href="/assets/css/dark-theme.min.css" rel="stylesheet">
    <link href="/assets/css/colored-theme.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>

<!-- Header 01
================================================== -->
<header class="header_01 header_inner">
    <div class="header_main">
        <div class="header_menu fixed-top" th:include="/header.html"></div>
        <div class="header_btm">
            <h2>管理</h2>
        </div>
    </div>
</header>


<!-- Main
================================================== -->
<main>
    <div class="job_container">
        <div class="container">
            <div class="row job_main">
                <div class="sidebar">
                    <h5>后台管理系统</h5>
                    <ul class="user_navigation">
                        <li >
                            <a href="/admin/board"><i class="fas fa-border-all"></i>主版</a>
                        </li>
                        <li >
                            <a href="/admin/job"><i class="fas fa-star"></i>职位</a>
                        </li>
                        <li class="is-active">
                            <a href="/admin/order"><i class="fas fa-list-alt"></i>订单</a>
                        </li>
                        <li>
                            <a href="/admin/user"><i class="fas fa-user"></i>用户</a>
                        </li>
                    </ul>
                </div>
                <div class="job_main_right">
                    <!--订单管理-->
                    <div class="row job_section">
                        <div class="col-sm-12">
                            <div class="order_table_div">
                                <div id="searchParam" >
                                    <div class="layui-form-item">
                                        <div class="layui-input-inline">
                                            <input type="text" id="jobId" class="layui-input" autocomplete="off" placeholder="请输入职位ID">
                                        </div>
                                        <div class="layui-input-inline layui-form">
                                            <select id="state">
                                                <option value="">请选择状态</option>
                                                <option value="0">未支付</option>
                                                <option value="1">进行中</option>
                                                <option value="2">未支付</option>
                                                <option value="3">已完成</option>
                                            </select>
                                        </div>
                                        <div class="layui-input-inline ">
                                            <button type="button" class="layui-btn" onclick="search()" id="search">查询</button>
                                        </div>
                                    </div>
                                </div>
                                <table class="layui-hide" id="order_table" lay-filter="order_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- Footer Container
================================================== -->
<footer id="colophon" class="site-footer custom_footer" th:include="/footer.html"/>


<!-- Scripts
================================================== -->
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script src="/assets/js/select2.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/custom.js"></script>
<!--提醒有关的js-->
<script src="/assets/js/growl-notification.min.js"></script>
<!--自己写的js-->
<script src="/assets/js/admin.js"></script>
<script src="/layui/layui.js"></script>
<script src="/assets/js/core.util.js"></script>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="batchDeleted" >删除</button>
    </div>
</script>

<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" >删除</a>
</script>

<script>
    var tableIns1;
    var table = layui.table;
    var $ = jQuery = layui.jquery;
    var layer = layui.layer;
    var form = layui.form;
    var startTime = null;
    var endTime = null;

    layui.use(['table','layer'],function(){

        tableIns1 = table.render({
            elem: '#order_table'
            , height: 312
            , url: '/admin/orderlist' //数据接口
            , limit: 5
            , limits: [5, 10, 15]
            , page: true //开启分页
            , method: 'POST'
            , totalRow: true
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'id', title: 'id', width: 120},
                    {field: 'job_id', title: 'job_id', width: 120},
                    {field: 'state', title: '状态', width: 120},
                    {
                        field: 'state', title: '审核状态', width: 120, templet: function (item) {
                            if (item.state === 0) {
                                return "未预付";
                            }
                            if (item.state === 1) {
                                return "进行中";
                            }
                            if (item.state === 2) {
                                return "未支付";
                            }
                            if (item.state === 3) {
                                return "已完成";
                            }
                        }
                    },
                    {field: 'created_time', title: '创建时间', width: 120, sort:true},
                    {field: 'end_time', title: '结束时间', width: 120, sort:true},
                    {width: 300, toolbar: "#tool", title: '操作'}
                ]
            ]
            , toolbar: '#toolbar'
        });

        table.on('toolbar(order_table)', function (obj) {
            switch (obj.event) {
                case 'batchDeleted':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("请选择要批量删除的订单");
                    } else {
                        var orderIds = [];
                        $(data).each(function (index, item) {
                            orderIds.push(item.id);
                        });
                        deleteOrder(orderIds);
                    }
                    break;
            }
            ;
        });

        table.on('tool(order_table)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'del':
                    var orderIds = [];
                    orderIds.push(data.id);
                    deleteOrder(orderIds);
                    break;
            }
        });

        var deleteOrder = function (orderIds) {
            layer.open({
                content: "确定要删除选中的订单么?",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendDelete("/admin/orders", orderIds, function (res) {
                        layer.msg(res.msg);
                        tableIns1.reload();
                    });
                }
            });
        };

    });

    function search(){
        //得到搜索框里已输入的数据
        var job_id = $('#jobId').val();
        var state = $('#state').val();
        if(job_id===""||job_id===null){
            job_id=0;
        }
        //执行重载
        tableIns1.reload({
            url:'/admin/searchOrder'
            ,method:'POST'
            ,page: {
                curr: 1 //重新从第 1 页开始
            }
            ,where: {
                job_id: job_id,
                state: state
            }
        });
    };
</script>
</body>
</html>
