<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>JoDice</title>
    <meta charset="utf-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/assets/images/fav.png" type="image/gif" sizes="64x64">

    <!-- CSS
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link href="/assets/css/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link href="/assets/css/select2.min.css" rel="stylesheet"/>
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/color-1.css">
    <!--提醒的样式-->
    <link href="/assets/css/light-theme.min.css" rel="stylesheet">
    <link href="/assets/css/dark-theme.min.css" rel="stylesheet">
    <link href="/assets/css/colored-theme.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>

<!-- Header 01
================================================== -->
<header class="header_01 header_inner">
    <div class="header_main">
        <div class="header_menu fixed-top" th:include="/header.html"></div>
        <div class="header_btm">
            <h2>管理</h2>
        </div>
    </div>
</header>


<!-- Main
================================================== -->
<main>
    <div class="job_container">
        <div class="container">
            <div class="row job_main">
                <div class="sidebar">
                    <h5>后台管理系统</h5>
                    <ul class="user_navigation">
                        <li class="is-active">
                            <a href="/superadmin/management"><i class="fas fa-user"></i>管理员列表</a>
                        </li>
                        <li >
                            <a href="/superadmin/createAdmin"></i>创建管理员</a>
                        </li>
                        <li >
                            <a href="/superadmin/changePassword"></i>修改管理员密码</a>
                        </li>
                    </ul>
                </div>
                <div class="job_main_right">
                    <!--人员管理-->
                    <div class="row job_section">
                        <div class="col-sm-12">
                            <div id="user_table_div">
                                <div id="searchParam" >
                                    <div class="layui-form-item">
                                        <div class="layui-input-inline">
                                            <input type="text" id="username" class="layui-input" autocomplete="off" placeholder="请输入用户名">
                                        </div>
                                        <div class="layui-input-inline">
                                            <input type="text" id="telephone" class="layui-input" autocomplete="off" placeholder="请输入手机号">
                                        </div>
                                        <div class="layui-input-inline ">
                                            <button type="button" class="layui-btn" onclick="search()" id="search">查询</button>
                                        </div>
                                    </div>
                                </div>
                                <table class="layui-hide" id="user_table" lay-filter="user_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- Footer Container
================================================== -->
<footer id="colophon" class="site-footer custom_footer" th:include="/footer.html"/>


<!-- Scripts
================================================== -->
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script src="/assets/js/select2.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/custom.js"></script>
<!--提醒有关的js-->
<script src="/assets/js/growl-notification.min.js"></script>

<script src="/layui/layui.js"></script>
<script src="/assets/js/core.util.js"></script>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="batchDeleted" >删除</button>
    </div>
</script>

<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" >删除</a>
</script>

<script>
    var tableIns1;
    var table = layui.table;
    var $ = jQuery = layui.jquery;
    var layer = layui.layer;
    var form = layui.form;
    var startTime = null;
    var endTime = null;

    layui.use('table', function(){

        tableIns1 = table.render({
            elem: '#user_table'
            , height: 312
            , url: '/superadmin/adminlist' //数据接口
            , limit: 5
            , limits: [5, 10, 15]
            , page: true //开启分页
            , method: 'POST'
            , totalRow: true
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'id', title: 'id', width: 130},
                    {field: 'username', title: '用户名', width: 130},
                    {field: 'telephone', title: '手机号', width: 130},
                    {field: 'email', title: '邮箱', width: 140},
                    {field: 'location', title: '所在地', width: 130},
                    {width: 300, toolbar: "#tool", title: '操作'}
                ]
            ]
            , toolbar: '#toolbar'
        });

        table.on('toolbar(user_table)', function (obj) {
            switch (obj.event) {
                case 'batchDeleted':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("请选择要批量删除的用户");
                    } else {
                        var userIds = [];
                        $(data).each(function (index, item) {
                            userIds.push(item.id);
                        });
                        deleteUser(userIds, "选中的");
                    }
                    break;
            }
            ;
        });

        table.on('tool(user_table)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'del':
                    var userIds = [];
                    userIds.push(data.id);
                    deleteUser(userIds, data.username);
                    break;
            }
        });

        var deleteUser = function (userIds, username) {
            layer.open({
                content: '确定要删除' + username + "么?",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendDelete("/superadmin/users", userIds, function (res) {
                        layer.msg(res.msg);
                        tableIns1.reload();
                    });
                }
            });
        };

    });

    function search(){
        //得到搜索框里已输入的数据
        var username = $('#username').val();
        var telephone = $('#telephone').val();

        //执行重载
        tableIns1.reload({
            url:'/superadmin/searchUser'
            ,method:'POST'
            ,page: {
                curr: 1 //重新从第 1 页开始
            }
            ,where: {
                username: username,
                telephone:  telephone,
            }
        });
    };
</script>
</body>
</html>
