<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.dao.JobMapper">
    <insert id="insertJob" useGeneratedKeys="true" keyProperty="id" parameterType="project.model.Job">
        insert into job values (
            null,#{title},#{employer_id},#{description},#{budget},#{expertize_level},#{isCheck},#{create_time}
            ,#{required},#{skill},#{work_time},#{position},#{job_statue}
        );

    </insert>
    <update id="closeJobById">
        update job set job_statue = 0 where id=#{id}
    </update>
    <update id="openJobById">
        update job set job_statue = 1 where id=#{id}
    </update>
    <select id="getAllJobs" resultType="project.model.Job">
        <!--这个地方不能加分号，否则无法分页-->
        select * from job
    </select>

    <select id="findJobById" resultType="project.model.Job">
        select * from job where id=#{id}
    </select>

    <select id="getAllJobDesc" resultType="project.model.Job">
        select * from job j by j.create_time desc
    </select>

    <select id="getAllJobAsc" resultType="project.model.Job">
        select * from job j by j.create_time asc
    </select>

    <select id="deleteJobById" resultType="int">
        delete from job where id=#{id}
    </select>

    <select id="getJobIsCheck" resultType="project.model.Job">
        select * from job where ischeck = 1
    </select>

    <select id="updateJobCheck" resultType="int">
        update job set ischeck = 1 where id=#{id}
    </select>

    <select id="getJobNotCheck" resultType="project.model.Job">
        select * from job where ischeck = 0
    </select>
    <select id="findJobsByEmployerId" resultType="project.model.Job">
        select * from job where employer_id = #{employer_id}
    </select>

</mapper>