<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.dao.JobMapper">
    <select id="getAllJobs" resultType="project.model.Job">
        <!--这个地方不能加分号，否则无法分页-->
        select * from job
    </select>
    <select id="findJobById" resultType="project.model.Job">
        select * from job where id=#{id};
    </select>
</mapper>