<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.dao.JobMapper">
    <insert id="insertJob" useGeneratedKeys="true" keyProperty="id" parameterType="project.model.Job">
        insert into job values (
            null,#{title},#{employer_id},#{description},#{budget},#{expertize_level},#{check},#{create_time}
            ,#{required},#{skill},#{work_time},#{position},#{job_status}
        );

    </insert>
    <insert id="insertSendResume">
        insert into sendresume(job_id,profile_id,create_time) values (#{job_id},#{profile_id},#{create_time})
    </insert>
    <update id="closeJobById">
        update job set job_status = 0 where id=#{id}
    </update>
    <update id="openJobById">
        update job set job_status = 1 where id=#{id}
    </update>
    <select id="getAllJobs" resultType="project.model.Job">
        <!--这个地方不能加分号，否则无法分页-->
        select * from job
    </select>

    <select id="findJobById" resultType="project.model.Job">
        select * from job where id=#{id}
    </select>

    <select id="getAllJobDesc" resultType="project.model.Job">
        select * from job j order by j.create_time desc
    </select>

    <select id="getAllJobAsc" resultType="project.model.Job">
        select * from job j order by j.create_time asc
    </select>

    <delete id="deleteJobById" parameterType="project.model.Job">
        delete from job where id=#{id}
    </delete>

    <select id="getJobIsCheck" resultType="project.model.Job">
        select * from job where ischeck = 1
    </select>

    <update id="updateJobCheck" >
        update job
         <set>
         `ischeck` = 1
         </set>
         where id=#{id}
    </update>

    <select id="getJobNotCheck" resultType="project.model.Job">
        select * from job where `ischeck` = 0
    </select>
    <select id="findJobsByEmployerId" resultType="project.model.Job">
        select * from job where employer_id = #{employer_id}
    </select>
    <select id="isJobExist" resultType="java.lang.Boolean">
        <![CDATA[ select count(*)
                  from job where id = #{job_id}]]>
    </select>
    <select id="findJobByName" resultType="project.model.Job">
        select * from job where title = #{title}

    </select>
    <select id="getAllIdByUser" resultType="java.lang.Integer">
        select id from job where employer_id=#{user_id}
    </select>

    <select id="getJobList" resultType="project.model.Job">
        select id,employer_id,title,budget,expertize_level,create_time,required,skill,work_time,`ischeck`,job_status from job
    </select>

    <select id="searchJob" resultType="project.model.Job">
        select * from job
        <where>
            1=1
            <if test="employerId!=null and employerId!=0">and employer_id=#{employerId}</if>
            <if test="title!=null and title != ''">and title=#{title}</if>
            <if test="check!=null and check!=3">and `check`=#{check}</if>
        </where>
    </select>

    <select id="getJobCount" resultType="int">
        select count(*) from job
    </select>
    <select id="ifResumeExist" resultType="java.lang.Boolean">
        <![CDATA[ select count(id)
                  from sendresume where job_id = #{job_id} and profile_id=#{profile_id}]]>
    </select>

    <select id="getAllSummitedJobName" resultType="java.lang.String">
        select job.title from job,sendresume,profile where job.id=sendresume.job_id and sendresume.profile_id = profile.id and profile.user_id=#{user_id}
    </select>
    <select id="getAllSummitedJobTime" resultType="java.util.Date">
        select sendresume.create_time from sendresume,profile where sendresume.profile_id = profile.id and profile.user_id=#{user_id}
    </select>
    <select id="getAllSummitedJobPosition" resultType="java.lang.String">
        select job.position from job,sendresume,profile where job.id=sendresume.job_id and sendresume.profile_id = profile.id and profile.user_id=#{user_id}
    </select>
    <select id="getAllSummitedJobStatus" resultType="java.lang.Boolean">
        select job.job_status from job,sendresume,profile where job.id=sendresume.job_id and sendresume.profile_id = profile.id and profile.user_id=#{user_id}
    </select>
    <select id="getAllJobIdByEmployeeId" resultType="java.lang.Integer">
        select job_id from hire where employer_id = #{user_id}
    </select>
    <select id="getJobBySkill" resultType="project.model.Job">
        select * from job where skill = #{skill} ORDER BY create_time DESC
    </select>
</mapper>