<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.dao.OrderMapper">
    <insert id="insertNewOrder">
        insert into orderinfo (id,job_id, state, created_time, end_time,employee_id,employer_id)
        values (null,#{job_id},#{state},#{created_time},#{end_time},#{employee_id},#{employer_id});
    </insert>
    <select id="getAllOrders" resultType="project.model.Order">
        select * from orderinfo
    </select>
    <select id="countOrdersByJobId" resultType="java.lang.Integer">
        select count(*) from `order` where job_id=#{job_id}
    </select>
    <select id="isOrderExistByJobAndEmployee" resultType="java.lang.Boolean">
       <![CDATA[ select count(id)
          from `orderinfo` where job_id = #{job_id} and employee_id = #{employee_id}]]>
    </select>

</mapper>