<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.dao.OrderMapper">
    <select id="findAllOrders" resultType="project.model.Order">
        select * from `order`
    </select>

    <select id="findOrderById" resultType="project.model.Order">
        select * from `order` where id = #{id}
    </select>

    <delete id="deleteOrderById" parameterType="project.model.Order">
        delete from `order` where id = #{id}
    </delete>

    <select id="searchOrder" resultType="project.model.Order">
        select * from `order`
        <where>
            1=1
            <if test="jobId!=null and jobId!=0">and job_id=#{jobId}</if>
            <if test="state!=null and state!=''">and state=#{state}</if>
        </where>
    </select>

    <select id="getOrderCount" resultType="int">
        select count(*) from `order`
    </select>
</mapper>