<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.dao.OrderLogMapper">
    <select id="getAllOrdersLog" resultType="project.model.OrderLog">
        select * from orderlog
    </select>

<!--    //查看所有订单信息-->
<!--    <select id="getAllOrdersInfo" resultType="project.model.OrderLog">-->
<!--        select a.content,a.user_id,b.id,b.job_id,b.state,b.created_time,b.end_time from orderlog a,order b where a.order_id = b.id-->
<!--    </select>-->

</mapper>