<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.dao.UserMapper">
    <resultMap id="UserResultMap" type="project.model.User">
        <result column="id" property="id"/>
        <result column="telephone" property="telephone"/>
        <result column="email" property="email"/>
        <result column="location" property="location"/>
        <result column="headurl" property="headurl"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="insertUser">
        insert into user (id,username, password, telephone, email) values (
        #{id},#{username},#{password},#{telephone},#{email}
        );
    </insert>
    <update id="updatePasswordByEmail" parameterType="project.model.User">
        update user
            <set>
                password = #{password}
            </set>
        where email = #{email};
    </update>
    <update id="changePassWordById">
        update user
        <set>
            password = #{password}
        </set>
        where id=#{id};
    </update>

    <select id="findUserByUsername" resultMap="UserResultMap" parameterType="String">
        select * from user where username = #{username}
    </select>
    <select id="findUserByTelephone" resultType="project.model.User">
        <if test="telephone!= null " >
        select * from user where telephone = #{telephone}
        </if>
    </select>
    <select id="getAllUsers" resultType="project.model.User">
        select * from user
    </select>

    <select id="getUserByIdentity" resultType="project.model.User">
        <if test="identity!= null " >
            select * from user where identity = #{identity}
        </if>
    </select>
  
    <select id="updatePassword" resultType="int">
        update user set password=#{password} where id=#{id}
    </select>
  
    <select id="deleteUser" resultType="int">
        delete from user where id=#{id}
    </select>
  
    <!--查询邮箱是否存在，前提必须是邮箱已存在且唯一且已被绑定-->
    <select id="isEmailExist" resultType="java.lang.Boolean">
        <![CDATA[ select count(id)
        from user where email = #{email}]]>
    </select>
  
    <select id="findPasswordByEmail" resultType="java.lang.String">
        select password from user where email = #{email}
    </select>
    <select id="getLastId" resultType="java.lang.Integer">
        select max(id) from user;
    </select>
    <select id="loadUserByUsername" resultType="project.model.User">
         select * from user where username=#{username}
    </select>
    <select id="getUserRolesByUid" resultType="project.model.Role">
        select * from role r,user_role ur where r.id=ur.rid and ur.uid=#{id}
    </select>
    <select id="findPasswordById" resultType="java.lang.String">
        select password from user where id=#{id}
    </select>
</mapper>
