<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.dao.UserMapper">
    <resultMap id="UserResultMap" type="project.model.User">
        <result column="id" property="id"/>
        <result column="telephone" property="telephone"/>
        <result column="email" property="email"/>
        <result column="location" property="location"/>
        <result column="identity" property="identity"/>
        <result column="headurl" property="headurl"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="insertUser" parameterType="project.model.User">
        insert into user (username, password, telephone, email, location, identity , headurl) values (
        #{username},#{password},#{telephone},#{email},#{location},#{identity},#{headurl}
        );
    </insert>
    <select id="findUserByUsername" resultMap="UserResultMap" parameterType="String">
        select * from user where username = #{username}
    </select>
    <select id="findUserByTelephone" resultType="project.model.User">
        <if test="telephone!= null " >
        select * from user where telephone = #{telephone}
        </if>
    </select>

    <select id="getAllUsers" resultType="project.model.User">
        select * from user
    </select>

    <select id="getUserByIdentity" resultType="project.model.User">
        <if test="identity!= null " >
            select * from user where identity = #{identity}
        </if>
    </select>

    <select id="updatePassword" resultType="int">
        update user set password=#{password} where id=#{id}
    </select>

    <select id="deleteUser" resultType="int">
        delete from user where id=#{id}
    </select>


</mapper>
