<!doctype html>
<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
<title>JoDice</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="icon" href="/assets/images/fav.png" type="image/gif" sizes="64x64">

<!-- CSS
================================================== -->
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap&subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/all.min.css">
<link href="/assets/css/aos.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/assets/css/aos.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link href="/assets/css/select2.min.css" rel="stylesheet" />
<link href="/assets/css/owl.carousel.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/color-1.css">
</head>
<body>

<!-- Header 01
================================================== -->
<header class="header_01">
	<div class="header_main">
		<div class="header_menu fixed-top" th:include="/header.html"></div>
	</div> 
</header>
<main>
	<div class="fzf_page header_btm">
		<div class="container">
			<div class="d-flexd align-items-centerd fzf_cont ">
				<div>
					<h1>404</h1>
					<p>你 可 能 迷 路 了,不 过 不 要 担 心<br>
					<b>我 们 会 帮 你 找 到 回 去 的 路</b></p>
					<div class="" >
						<form action="browse-jobs.html">
							<div class="banerSearch" data-aos="fade-up" data-aos-delay="200">
								<div class="fild-wrap ">
									<input type="text" class="form-control">
								</div>
								<div class="fild-wrap fw-submit">
									<button type="submit" class="btn btn-primary" value="">
										 <i class="material-icons">search</i> 查找
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<!-- End Footer Container
================================================== -->
<footer id="colophon" class="site-footer custom_footer" th:include="/footer.html"/>
<!-- Scripts
================================================== -->
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script src="/assets/js/select2.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/aos.js"></script>
<script src="/assets/js/custom.js"></script>

</body>
</html>
