<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--底部footer部分-->
<footer>
    <div class="container">
        <div class="row footer_widget">
            <div class="col-md-3">
                <div class="footer_widget_box">
                    <h2 >热门类目</h2>
                    <ul >
                        <li>
                            <a>设计</a>
                        </li>
                        <li>
                            <a>文案写作</a>
                        </li>
                        <li>
                            <a>技术</a>
                        </li>
                        <li>
                            <a>音视频</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_widget_box">
                    <h2 >关于</h2>
                    <ul >
                        <li>
                            <a th:href="@{/AboutUs}">什么是JobSite?</a>
                        </li>
                        <li>
                            <a th:href="@{/JoinUs}">加入我们</a>
                        </li>
                        <li>
                            <a href="#">找到队友</a>
                        </li>
                        <li>
                            <a th:href="@{/job}">所有工作</a>
                        </li>
                        <li>
                            <a th:href="@{/forgetPassword}">更改密码</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_widget_box">
                    <h2 >联系我们</h2>
                    <ul>
                        <li> <a>电话:xxx</a>
                        </li>
                        <li> <a>邮箱:xxx</a>
                        </li>
                        <li> <a>网站:jobsite.com</a>
                        </li>
                        <li> <a>地址:陕西省西安市长安区西北工业大学长安校区</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_widget_box">
                    <h2>官方社交</h2>
                    <ul class="social_list">
                        <li> <a href="#"><i class="fab fa-qq"></i></a>
                        </li>
                        <li> <a href="#"><i class="fab fa-weixin"></i></a>
                        </li>
                        <li> <a href="#"><i class="fab fa-weibo"></i></a>
                    </ul>

                </div>
            </div>
            <div class="col-md-12">
                <div class="footer_widget_box"  >
                    <p class="copyright-text">© Copyright 2021 by JobSite. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
        <!-- .site-info -->
    </div>
</footer>
</html>