<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="header_menu fixed-top">
    <div class="container">
        <div class="header_top">
            <div class="logo">
                <a th:href="@{/}">
                    <img alt="JoDice" class="img-fluid" src="/assets/images/logo-2.png">
                </a>
            </div>
            <!--导航栏-->
            <div class="navigation">
                <nav>
                    <div class="hamburger hamburger--spring js-hamburger ">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                        </div>
                    </div>
                    <ul>
                        <li id="1" class="current_page">
                            <a th:href="@{/}" >主页</a>
                        </li>
                        <li id="2" sec:authorize="!isAuthenticated()" class="has-sub-menu" href="#">
                            <a>找人才</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">浏览服务</a>
                                </li>
                                <li>
                                    <a href="#">+发布职位</a>
                                </li>
                            </ul>
                        </li>
                        <li id="3" sec:authorize="!isAuthenticated()" class="has-sub-menu" href="#" >
                            <a >找工作</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">浏览热门职位</a>
                                </li>
                                <li>
                                    <a href="#">+发布微服务</a>
                                </li>
                            </ul>
                        </li>
                        <li id="4" sec:authorize="!isAuthenticated()" class="has-sub-menu" href="#" >
                            <a>了解我们</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">Jobsite故事</a>
                                </li>
                                <li>
                                    <a href="#">什么是Jobsite?</a>
                                </li>
                                <li>
                                    <a href="#">团队协作</a>
                                </li>
                                <li>
                                    <a href="#">加入我们</a>
                                </li>
                            </ul>
                        </li>
                        <li id="5" sec:authorize="hasRole('ROLE_employee')">
                            <a th:href="@{/job}">找工作</a>
                        </li>
                        <li id="6"href="#" sec:authorize="hasRole('ROLE_employer')">
                            <a >找人才</a>
                        </li>
                        <li id="7" sec:authorize="isAuthenticated()">
                            <a>工作管理</a>
                        </li>

                        <li id="8" sec:authorize="isAuthenticated()">
                            <a  th:href="@{'/chatlist'}">在线沟通<span class="badge badge-danger badge-pill">3</span></a>
                        </li>
                    </ul>
                </nav>
                <!--未登录显示登陆和注册按钮-->
                <div class="ac_nav" sec:authorize="!isAuthenticated()">
                    <!--Not logedin-->
                    <div class="login_pop">
                        <button class="btn btn-primary">登录  /  注册 <i class="fas fa-caret-down"></i></button>
                        <div class="login_pop_box">
										<span class="twobtn_cont">
											<a class=" signjs_btn" th:href="@{/register}">
											<span>应聘者</span> 注册
											<i class="far fa-user"></i>
											</a>
										<a class=" signrs_btn" th:href="@{/register/employer}"><span>雇主</span> 注册
											<i class="fas fa-landmark"></i>
										</a>
										</span>
                            <div>
                                <span class="member_btn">已有账号?</span>
                                <a class="lgin_btn btn btn-primary" th:href="@{/login}">
                                    登录
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end logedin-->
                </div>
                <!--已登录显示个人信息-->
                <div class="ac_nav after_login_ac_nav" sec:authorize="isAuthenticated()">
                    <!--Not logedin-->
                    <div class="login_pop after_login">
                        <button class="btn btn-primary withdp"><img  th:src="${user.headurl}"> Hi <span sec:authentication="name"></span><i class="fas fa-caret-down"></i></button>
                        <div class="login_pop_box login_pop_box_menu">
                            <ul style="padding-left:15px">
                                <li >
                                    <a href="#"><i class="far fa-bookmark"></i>我的订单</a>
                                </li>
                                <hr>
                                <li sec:authorize="hasRole('ROLE_employer')">
                                    <a th:href="@{/job/postJob}"><i class="fas fa-glasses"></i>我的职位</a>
                                </li>
                                <li sec:authorize="hasRole('ROLE_employee')">
                                    <a th:href="@{/setting}"><i class="far fa-edit"></i>修改简历</a>
                                </li>
                                <li sec:authorize="hasRole('ROLE_employee')">
                                    <a th:href="@{/job/postJob}"><i class="far fa-handshake"></i>我投递的职位</a>
                                </li>
                                <hr>
                                <li >
                                    <a href="#"><i class="fas fa-money-bill"></i>我的资金</a>
                                </li>

                                <li sec:authorize="hasRole('ROLE_employer')">
                                    <a href="#"><i class="fas fa-money-check"></i>我的发票</a>
                                </li>
                                <hr>
                                <li>
                                    <a th:href="@{/appraisals}"><i class="far fa-comment"></i>我的评价</a>
                                </li>
                                <li>
                                    <a th:href="@{/setting}"><i class="fas fa-search"></i>个人设置</a>
                                </li>
                                <li>
                                    <a th:href="@{/logout}"><i class="fas fa-power-off"></i>退出登录</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end logedin-->
                </div>
            </div>
        </div>
    </div>
</div>
</html>