<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<!-- Basic Page Needs
================================================== -->
<title>JoDice</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="icon" href="assets/images/fav.png" type="image/gif" sizes="64x64">

<!-- CSS
================================================== -->
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap&subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/all.min.css">
<link href="/assets/css/aos.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link href="/assets/css/select2.min.css" rel="stylesheet" />
<link href="/assets/css/owl.carousel.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/color-1.css">
</head>
<body>

<header class="header_01 header_inner">
    <div class="header_main">
        <div class="header_menu fixed-top" th:include="/header.html"></div>
        <div class="header_btm">
            <h2>设置</h2>
        </div>
    </div>
</header>


<!-- Main 
================================================== -->
<main>
  <div class="job_container">
    <div class="container">
      <div class="row job_main">
        <div class="sidebar">
          <ul class="user_navigation">
			  <li>
				  <a href="/job/postJob"><i class="fas fa-paper-plane"></i>发布工作</a>
			  </li>
			  <li class="is-active">
				  <a href="/job/MyJobLists"><i class="far fa-list-alt"></i>职位管理</a>
			  </li>
          </ul>
        </div>
        <div class=" job_main_right">
          <div class="row job_section">
      		<div class="col-sm-12">
      			<div class="jm_headings" th:if="${hasJobs}">
	              <h6>发布的工作如下展示</h6>
	          	</div>
              <div class="table-cont" >
          		 <table class="table" th:if="${hasJobs}">
      					<thead>
      						<tr>
      							<th>标题</th>
      							<th>需求人数</th>
								<th>岗位</th>
      							<th>发布时间</th>
      							<th>时薪</th>
								<th>每日工作时长</th>
								<th></th>
      						</tr>
      					</thead>
      					<tbody>
							<tr th:each="job:${jobs}">
								<td th:text="${job.title}"></td>
								<td th:text="${job.required}"></td>
								<td th:text="${job.position}"></td>
								<td th:text="${job.create_time}"></td>
								<td th:text="${job.budget}"></td>
								<td th:text="${job.work_time}"></td>
								<td ></td>
							</tr>
      					</tbody>
      				</table>
              </div>
				<div th:if="${not hasJobs}">
					<h4>没工作，快去布发工作吧</h4>
					<button class="btn btn-primary" onclick="window.location.href='/job/postJob'">发布工作</button>
				</div>
      		</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<!-- Footer Container
================================================== -->
<footer id="colophon" class="site-footer custom_footer" th:include="/footer.html"/>


<!-- End Footer Container
================================================== -->

<!-- Scripts
================================================== -->

</body>
</html>
