<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>JoDice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="assets/images/fav.png" type="image/gif" sizes="64x64">

    <!-- CSS
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/lq-score.css">
    <link href="/assets/css/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link href="/assets/css/select2.min.css" rel="stylesheet"/>
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/color-1.css">
    <link href="/assets/css/light-theme.min.css" rel="stylesheet">
    <link href="/assets/css/dark-theme.min.css" rel="stylesheet">
    <link href="/assets/css/colored-theme.min.css" rel="stylesheet">
</head>
<body>

<header class="header_01 header_inner">
    <div class="header_main">
        <div class="header_menu fixed-top" th:include="/header.html"></div>
        <div class="header_btm">
            <h2>订单管理</h2>
        </div>
    </div>
</header>


<!-- Main
================================================== -->
<main>
    <div class="job_container" sec:authorize="hasRole('ROLE_employer')">
        <div class="container">
            <div class="row job_main">
                <div class="sidebar">
                    <ul class="user_navigation" th:id="navigation">
                        <li>
                            <a href="javascript:history.go(-1)"><i class="fas fa-paper-plane"></i>返回</a>
                        </li>
                        <li th:id="allOrders" onclick="allorders()">
                            <a><i class="fas fa-list-alt"></i>全部订单</a>
                        </li>
                        <li th:id="unpaid" th:onclick="unpaid()">
                            <a><i class="far fa-list-alt"></i>待预付</a>
                        </li>
                        <li th:id="working" th:onclick="working()">
                            <a><i class="far fa-list-alt"></i>工作中</a>
                        </li>
                        <li th:id="pending" th:onclick="pending()" >
                            <a><i class="far fa-list-alt"></i>待结算</a>
                        </li>
                        <li th:id="finished" th:onclick="finished()">
                            <a><i class="far fa-list-alt"></i>已完成</a>
                        </li>
                    </ul>
                </div>
                <div class=" job_main_right" style="height: 700px" th:id="allorder">
                </div>

                <div class="job_main_right" style="display: none;height: 700px" th:id="unpaidorder" ></div>

                <div class="job_main_right" style="display: none;height: 700px" th:id="workingorder"></div>

                <div class="job_main_right" style="display: none;height: 700px" th:id="peningorder"></div>

                <div class="job_main_right" style="display: none;height: 700px" th:id="finishedorder"></div>

                <div class="empty-table"></div>
            </div>
        </div>
    </div>
</main>


<!-- Footer Container
================================================== -->
<footer id="colophon" class="site-footer custom_footer" th:include="/footer.html"/>


<!-- End Footer Container
================================================== -->

<!-- Scripts
================================================== -->
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script src="/assets/js/select2.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/custom.js"></script>
<script src="/assets/js/job.js"></script>
<script src="/assets/js/jobList.js"></script>
<script src="/assets/js/growl-notification.min.js"></script>
<script src="/assets/js/order.js"></script>

</body>
</html>
