<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<!-- Basic Page Needs
================================================== -->
<title>JoDice</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="icon" href="/assets/images/fav.png" type="image/gif" sizes="64x64">

<!-- CSS
================================================== -->
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap&subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/all.min.css">
<link href="/assets/css/aos.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link href="/assets/css/select2.min.css" rel="stylesheet" />
<link href="/assets/css/owl.carousel.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/color-1.css">
</head>
<body>

<!-- Header 01
================================================== -->
<header class="header_01 header_inner">
  <div class="header_main">
    <div class="header_menu fixed-top" th:include="/header.html">
    </div>
    <div class="header_btm">
      <h2>忘记密码</h2>
    </div>
  </div> 
</header>


<!-- Main 
================================================== -->
<main>
  <div class="only-form-pages">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        	<div class="only-form-box">		
				<form>
					<div class="com_class_form">
						<div class="form-group" >
					        <label><span class="normal-font-w">忘记密码? 你可以选择用手机号或者邮箱找回密码.</span></label>
						</div>
                        <div id="errormsg" class="alert alert-danger" style="display:none">
                            <strong>邮箱不存在!该邮箱未注册或未绑定</strong>
                        </div>
                        <div id="successmsg" class="alert alert-success" style="display:none">
                            <strong>已向您的邮箱发送邮件，</strong>请注意查收.
                        </div>
                        <div class="user_elements_box">
                        <!-- Nav pills -->
                        <ul class="nav nav-pills" role="tablist" style="border: #ffffff;padding-left: 0px;padding-right: 0px">
                          <li class="nav-item" style="width: 50%">
                            <a class="nav-link active" data-toggle="pill" href="#tab1">邮箱找回</a>
                          </li>
                          <li class="nav-item" style="width: 50%">
                            <a id="telephone" class="nav-link" data-toggle="pill" href="#tab2">手机号找回(没写)</a>
                          </li>
                        </ul>

                        <!-- Tab 面板 -->
                        <div class="tab-content" style="padding-bottom: 30px;padding-top: 30px;border: #ffffff">
                          <div id="tab1" class="container tab-pane active" style="padding-left: 0px;padding-right: 0px">
                            <input id="email" class="form-control" type="text" size="40" placeholder="邮箱">
                          </div>
                          <div id="tab2" class="container tab-pane fade">
                            <p>该功能敬请期待</p>
                          </div>
                        </div>
                      </div>
						<div class="form-group">
							<input class="btn btn-primary" id="retrievePassword" type="button" value="重置密码" />
						</div>
					</div>
				</form>
			</div>
        </div>
      </div>
    </div>
  </div>
</main>


<!-- Footer Container
================================================== -->
<footer id="colophon" class="site-footer custom_footer dark_footer" th:include="/footer.html"></footer>
<!-- Scripts
================================================== -->
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script src="/assets/js/select2.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/custom.js"></script>
<script src="/assets/js/user.js"></script>
</body>
</html>