<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<!-- Basic Page Needs
================================================== -->
<title>JobSite</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="icon" href="/assets/images/fav.png" type="image/gif" sizes="64x64">

<!-- CSS
================================================== -->
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap&subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/all.min.css">
<link href="/assets/css/aos.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link href="/assets/css/select2.min.css" rel="stylesheet" />
<link href="/assets/css/owl.carousel.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/color-1.css">
</head>
<body>

<!-- Header 01
================================================== -->
<header class="header_01 header_inner">
  <div class="header_main">
    <div class="header_menu fixed-top" th:include="/header.html">
    </div>
    <div class="header_btm">
      <h2>重置密码</h2>
    </div>
  </div> 
</header>


<!-- Main 
================================================== -->
<main>
  <div class="only-form-pages">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        	<div class="only-form-box">		
				<form>
                  <div id="errormsg1" class="alert alert-danger" style="display:none">
                    <strong>链接已失效</strong>
                  </div>
                  <div id="errormsg2" class="alert alert-danger" style="display:none">
                    <strong>无效链接</strong>
                  </div>
                  <div id="errormsg3" class="alert alert-danger" style="display:none">
                    <strong>两次密码不一致</strong>
                  </div>
                  <div id="successmsg" class="alert alert-success" style="display:none">
                    <strong>密码重置成功</strong>
                  </div>
                  <div id="inputform"class="com_class_form" style="display:none">
                  <div class="form-group">
                     <label><span class="normal-font-w">请输入新密码</span></label>
                          <input id="newPassword" class="form-control" type="password"  size="40" placeholder="新密码 ">
                          <br>
                          <input id="newPasswordConfirm"class="form-control" type="password"  size="40" placeholder="再次确认">
                      </div>
                      <div class="form-group">
                          <input id="confirmReset" class="btn btn-primary"  value="确定" >
                      </div>
                  </div>
				</form>
			</div>
        </div>
      </div>
    </div>
  </div>
</main>


<!-- Footer Container
================================================== -->
<footer id="colophon" class="site-footer custom_footer dark_footer" th:include="/footer.html"></footer>
<!-- Scripts
================================================== -->
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script src="/assets/js/select2.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/custom.js"></script>
<script src="/assets/js/resetPassword.js">

</script>
</body>
</html>